<div class="alltimesheets ui-g">
    
      <div class="header ui-g-12">
        <h2>
          AWS - Regions
        </h2>
      </div>
  
    <!-- Data Table -->    
    <p-dataTable #dt [value]="awsRegions" class="ui-g-12" sortField="name" sortOrder="1" emptyMessage="No regions found"
    [reorderableColumns]="true"  [globalFilter]="tableSearch" exportFilename="env_instances"
     [paginator]="true" [rows]="25" [rowsPerPageOptions]="[25,50,75]" [pageLinks]="8"  [responsive]="true" resizableColumns="true">
  
     <p-column field="id" header="Id" [sortable]="true" >
      </p-column>
        <p-column field="name" header="Region Name" [sortable]="true" ></p-column>
        <p-column field="region" header="Region" [sortable]="true" ></p-column>
        <p-column field="endpoint" header="End Point" [sortable]="true" ></p-column>      
        <p-column field="id" >
          <ng-template  let-row="rowData" pTemplate="body"> 
            
            <div>
                <a pageScroll href="#editRegion"><span id='clickableAwesomeFont' (click)="confirm1(row.id)"  pTooltip="Edit Record"><i class="fa fa-pencil fa-2x">
                  
                </i></span></a>
              <span id='clickableAwesomeFont' (click)="confirm2(row)" pTooltip="Delete Record"><i class="fa fa-trash fa-2x"></i></span>
            
          </div>
            
           
        </ng-template>
           
          
          </p-column>
        <p-footer>
            <label for="tableSearch">Search: </label>
            <input id="tableSearch" #tableSearch type="text" placeholder="Search All Fields">
            <button type="button" pButton icon="fa-floppy-o" label="Export" (click)="dt.exportCSV()" style="float:right;"></button>
            
          </p-footer>
  
    </p-dataTable>
  
   <p-growl [value]="msgs" life="5000" ></p-growl>  
   
    </div>  
  <!-- End Data Table -->

<div class="alltimesheets ui-g" class="panel_spacer">
<!-- Panel for ADD Region Form -->
<div id="addRegion"></div>
<p-panel header="Add AWS Region" class="ui-g-6">
  <form [formGroup]="awsRegionForm" (ngSubmit)="save()">

    <!-- Input Region Name -->
    <div class="ui-g ui-lg-offset-1">
         <label for="NameID" class="ui-g-12 ui-lg-2">Region Name</label>
         <input type="text" pInputText id="RegionNameID" formControlName="name" placeholder="Region Name"  class="ui-g-12 ui-lg-8">
         <div  class="ui-g-12 ui-md-offset-2" > 
            <at-fielderrors [form]="awsRegionForm" field="name" nicename="Region Name"> </at-fielderrors>
         </div>
    </div>

    <!-- Input Region -->
    <div class="ui-g ui-md-offset-1">
          <label for="NameID" class="ui-g-12 ui-lg-2">Region</label>
          <input type="text" pInputText id="RegionID" formControlName="region" placeholder="Region"  class="ui-g-12 ui-lg-8">
          <div  class="ui-g-12 ui-lg-offset-2" > 
             <at-fielderrors [form]="awsRegionForm" field="region" nicename="Region"> </at-fielderrors>
          </div>
     </div>

      <!-- Input Region -->
         <div class="ui-g ui-md-offset-1">
          <label for="NameID" class="ui-g-12 ui-lg-2">Endpoint</label>
          <input type="text" pInputText id="EndPointID" formControlName="endpoint" placeholder="EndPoint"  class="ui-g-12 ui-lg-8">
          <div  class="ui-g-12 ui-lg-offset-2" > 
             <at-fielderrors [form]="awsRegionForm" field="endpoint" nicename="EndPoint"> </at-fielderrors>
          </div>
     </div>  

   
   
    
    
   <!-- Submit/Reset Button -->
   <div class="ui-g ui-lg-offset-1">
    <button pButton type="submit" [disabled]="!awsRegionForm.valid" label="Save" icon="fa-floppy-o" class="button_spacer"></button>   
     
    <button (click)="onReset()" pButton type="reset" [disabled]="!awsRegionForm.dirty" label="Erase" icon="fa-eraser" class="button_spacer"></button> 
  </div> 
                  
    </form>
 </p-panel>
</div>

<div class="alltimesheets ui-g" class="panel_spacer">
    <!-- Panel for EDIT Region Form -->
    <div id="editRegion"></div>
    <p-panel header="Edit AWS Region" class="ui-g-6">
      <form [formGroup]="awsRegionEditForm" (ngSubmit)="update()">

        <!-- Input Region ID -->
        <div class="ui-g ui-lg-offset-1">
            <label for="NameEditID" class="ui-g-12 ui-lg-2">Region ID</label>
            <input type="text" pInputText id="RegionNameEditID" formControlName="id"  class="ui-g-12 ui-lg-8" readonly>
            <div  class="ui-g-12 ui-md-offset-2" > 
               <at-fielderrors [form]="awsRegionEditForm" field="id" nicename="Region ID"> </at-fielderrors>
            </div>
       </div>        
    
        <!-- Input Region Name -->
        <div class="ui-g ui-lg-offset-1">
             <label for="NameEditID" class="ui-g-12 ui-lg-2">Region Name</label>
             <input type="text" pInputText id="RegionNameEditID" formControlName="name"  class="ui-g-12 ui-lg-8">
             <div  class="ui-g-12 ui-md-offset-2" > 
                <at-fielderrors [form]="awsRegionEditForm" field="name" nicename="Region Name"> </at-fielderrors>
             </div>
        </div>
    
        <!-- Input Region -->
        <div class="ui-g ui-md-offset-1">
              <label for="NameEditID" class="ui-g-12 ui-lg-2">Region</label>
              <input type="text" pInputText id="RegionEditID" formControlName="region"  class="ui-g-12 ui-lg-8">
              <div  class="ui-g-12 ui-lg-offset-2" > 
                 <at-fielderrors [form]="awsRegionEditForm" field="region" nicename="Region"> </at-fielderrors>
              </div>
         </div>
    
          <!-- Input Region -->
             <div class="ui-g ui-md-offset-1">
              <label for="NameIDEdit" class="ui-g-12 ui-lg-2">Endpoint</label>
              <input type="text" pInputText id="EndPointEditID" formControlName="endpoint"  class="ui-g-12 ui-lg-8">
              <div  class="ui-g-12 ui-lg-offset-2" > 
                 <at-fielderrors [form]="awsRegionEditForm" field="endpoint" nicename="EndPoint"> </at-fielderrors>
              </div>
         </div>  
    
       
       
        
        
       <!-- Submit/Reset Button -->
       <div class="ui-g ui-lg-offset-1">
        <button pButton type="submit" [disabled]="!awsRegionEditForm.dirty || !awsRegionEditForm.valid" label="Update" icon="fa-floppy-o" class="button_spacer"></button>   
         
        <button (click)="onResetEdit()" pButton type="reset" [disabled]="!(awsRegionEditForm.dirty || awsRegionEditForm.valid)" label="Erase" icon="fa-eraser" class="button_spacer"></button> 
      </div> 
                      
        </form>
     </p-panel>
    </div>
<div>
<p-confirmDialog></p-confirmDialog>
</div>

